.square{
    font-weight: bold;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size:xx-large;
    margin: 0;
    padding: 0;
}

.board-row{
    margin: auto auto;
    width: 300px;   
    display: flex;
}
